## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
sudo: required
os:
  - linux
  # - osx
julia:
  - 0.6
  - nightly
notifications:
  email: false
git:
  depth: 99999999

matrix:
 allow_failures:
 - julia: nightly

addons:
  apt:
    packages:
      - xvfb
      - xauth
      - libgtk-3-0

script:
- if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
- if [[ `uname` = "Linux" ]]; then TESTCMD="xvfb-run julia"; else TESTCMD="julia"; fi
- julia -e 'Pkg.clone("https://github.com/rafaqz/TerminalGraphics.jl.git"); Pkg.build("TerminalGraphics")'
- julia -e 'Pkg.clone("https://github.com/rafaqz/MetaFields.jl.git"); Pkg.build("MetaFields")'
- julia -e 'Pkg.clone("https://github.com/rafaqz/Flatten.jl.git"); Pkg.build("Flatten")'
- $TESTCMD -e 'Pkg.clone(pwd()); 
               Pkg.build("Cellular"); 
               Pkg.add("Blink"); 
               Pkg.build("Blink"); 
               using Blink;
               Blink.AtomShell.install();
               Pkg.test("Cellular"; coverage=true)'

after_success:
  # push coverage results to Coveralls
  - julia -e 'cd(Pkg.dir("Cellular")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("Cellular")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
  # update docs, add requires deps for optional docs
  - julia -e 'Pkg.add("Plots")'
  - julia -e 'Pkg.add("FileIO")'
  - julia -e 'Pkg.add("Documenter"); Pkg.checkout("Documenter")'
  - $TESTCMD -e 'cd(Pkg.dir("Cellular")); ENV["DOCUMENTER_DEBUG"] = "true"; include(joinpath("docs", "make.jl"))'
